.edit_mode{
	display: flex;
	gap: 5px;
}

.edit_mode :global .drop-down{
	flex: 1;
}

.edit_mode :global .icon{
	width: 32px;
	height: 32px;
}

.error_box{
	color: #c53929;
	font-weight: 500;
	margin: 0;
	padding: 5px 1px;
}