.expander{
	margin-right: -11px;
}

.iframe_wrapper.expanded{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
	background: #fff;
}

.iframe_wrapper.expanded:global(.window-header) h1,
.iframe_wrapper.expanded:global(.window-header) :global(.message_bar){
	margin: 0;
}

.iframe_wrapper .iframe{
	display: block;
	margin-left: -24px;
	width: calc(100% + 24px);
}

.iframe_wrapper.expanded .iframe{
	margin-left: 0;
	width: 100%;
}