graft src/ru/ihna/kozhukhov/core_application/locale
graft src/ru/ihna/kozhukhov/core_application/static
graft src/ru/ihna/kozhukhov/core_application/templates
graft src/ru/ihna/kozhukhov/corefacility/static