/* Primary CSS styles */

.primary{
	height: 100%;
}
.primary aside{
	float: right;
	margin-top: 8px;
	margin-right: 38px;
}

.primary h1{
	margin: 0;
	border-bottom: 1px solid rgb(218, 220, 224);
	padding: 0 30px 0 114px;
	font-family: Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 48px;
}

.primary article{
	height: calc(100% - 48px);
	transition: height 200ms ease-in;
}

.primary article.pending{
	height:  calc(100% - 92px);
}

.primary article > * > *{
	padding-left: 114px;
	padding-right: 30px;
}
