.wrapper{
	box-sizing: border-box;
	height: 32px;
	padding-top: 8px;
}

.wrapper label{
	display: block;
	font-family: Roboto, Helvetica, Arial, Sans-Serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: 700;
}