.item :global .sidebar-item .sidebar-item-text{
	display: flex;
	height: 32px;
}

.item :global .sidebar-item p,
.item :global .sidebar-item .icon{
	margin: 0;
	height: 32px;
	line-height: 32px;
}

.item :global .sidebar-item .icon{
	width: 32px;
}
