.dialog :global .epic-fail{
	display: none;
	margin: 0;
	padding: 24px;
}

.root{
}

.data_block{
	margin-bottom: 30px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: max-content 1fr;
}

.controls_block{
	display: flex;
	gap: 10px;
}