.drawer canvas{
	display: block;
	margin: 0 auto;
}

.drawer .toolbar{
	margin: 10px 0;
	margin-top: 0;
}

.drawer .toolbar > a{
	width: 35px;
	height: 35px;
}

.drawer .status_bar{
	margin-top: 10px;
}