#spinner{
	display:  none;
	font-weight:  bold;
}

#error-message{
	display:  none;
	position:  relative;
	margin:  30px;
	border:  3px solid red;
	padding:  10px 20px;
}

#error-message.opened{
	display:  inline-block;
}

#error-message .close-button{
	display:  block;
	position:  absolute;
	top:  3px;
	right:  3px;
	font-size:  10px;
	color:  red;
}


#users .user-list, #users .user-list td, #users .user-list th{
	border:  1px solid black;
}

#users .user-list td, #users .user-list th{
	padding:  5px;
}

#users .dlg-properties{
	display:  none;
	position:  absolute;
	background:  #fff;
	top:  100px;
	left:  200px;
}


#users .dlg-properties.opened{
	display:  block;
}

#users .dlg-properties label{
	display:  inline-block;
	margin-right:  10px;
	width:  100px;
}

#users .dlg-properties input[type=text]{
	width:  300px;
	margin-bottom: 10px;
}

#users .dlg-properties .button-row{
	text-align:  center;
}

#users .ctrl-controls{
	margin:  20px 0;
}

#users .ctrl-controls button{
	margin:  5px;
}

#users .dlg-search fieldset{
	margin:  10px;
}