.filter{
	display: grid;
	grid-template-columns: max-content max-content;
	grid-gap: 10px;
}

.col_layout{
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: stretch;
}

.radio_layout{
	display: flex;
	gap: 30px;
}

.row_layout{
	display: flex;
	align-items: start;
	gap: 10px;
}

.row_layout :global .text-input{
	flex-basis: 300px;
}

.row_layout :global .primary-button{
	margin: 0;
}