{% load static %}
<!DOCTYPE html>
<!--suppress ALL -->
<html>
    <head>
        <title>System configuration check</title>
        <meta charset="utf-8"/>
        <style>
            .logo{
                float: left;
            }
            table{
                border-collapse: collapse;
            }
            td, th{
                border: 1px solid black;
                padding: 10px;
            }
            td:last-child{
                font-family: Courier;
            }
            td.red{
                font-family: inherit;
                color: red;
            }
        </style>
    </head>
    <body>
        <img class="logo" src="{% static 'core/logo.svg' %}" alt="Institute logo" width="100">
        <h1>The system configuration checker</h1>
        <p>All necessary system configuration parameters were mentioned in the table below</p>
        <table>
            <thead>
                <tr>
                    <th>Configuration name</th>
                    <th>Configuration value</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in cfg.items %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script>
            let collection = document.querySelectorAll("td:last-child");
            for (let element of collection){
                if (element.innerText == "{{no_option_message}}"){
                    element.classList.add("red");
                }
            }
        </script>
    </body>
</html>