{% extends "core/base.html" %}
{% load i18n %}
{% block settings %}window.SETTINGS={{js_settings|safe}};{% endblock %}
{% block prelude %}
<noscript>
    {% translate "You need to enable Javascript to run this application" %}
</noscript>
<div id="waitbar" class="hidden">
    <div class="wait-widget">
        {% for _ in ''|center:12 %}
        <div class="wait-circle wait-circle-{{forloop.counter}}"></div>
        {% endfor %}
    </div>
    <div class="wait-line">{{loading_message}}</div>
</div>
<div id="small-size-message">
    <p>{% translate "The device screen resolution is too small. Please, use this application on another device" %}</p>
</div>
<script>
    document.getElementById("waitbar").classList.remove("hidden");
</script>
{% endblock %}
