.box{

}

.wrapper{
	display: block;
	height: 32px;
	cursor: pointer;
}

.wrapper.inactive{
	cursor: default;
}

.wrapper.disabled{
	cursor: not-allowed;
}

.wrapper:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}

.button_wrapper{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	margin-right: 14px;
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid rgb(24, 90, 188);
}

.wrapper.disabled .button_wrapper{
	border-color: #999;
}

.button{
	display: block;
	width: 8px;
	height: 8px;
	background: rgb(24, 90, 188);
	border-radius: 50%;
}

.wrapper.disabled .button{
	background-color: #999;
}

.wrapper label{
	display: inline-block;
	vertical-align: middle;
	cursor: inherit;
}

.wrapper.disabled label{
	color: #999;
}

.error_message{
	margin: 0;
	margin-top: -5px;
	padding: 0;
	padding-bottom: 5px;
	color: rgb(197, 57, 41);
}
